@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

body{
    margin: 0%;
    background-color: rgb(223, 223, 224);
    font-family: 'Poppins', sans-serif;
}

/* NAVBAR */
nav{
    height: 8vh;
    background-color: whitesmoke;
    display: flex
}

.nav-left{
    display: flex;
    padding-left: 100px;
    flex: 50%;
    align-items: center;
}

.nav-left li{
    display: inline;
    padding: 10px;
}

nav a{
    text-decoration: none;
    color: black;
    font-size: large;
}

nav .nav-des a:hover{
    /* font-size: x-large; */
    color: rgb(99, 0, 198);
    text-shadow: 0px 0px 18px rgb(99, 0, 198);
}

.home{
    font-weight: bolder;
}

.nav-right{
    display: flex;
    align-items: center;
}

.nav-right li{
    display: inline;
    padding-right: 100px;
}

.nav-right a{
    background-color: rgb(37, 37, 63);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}

.nav-right a:hover{
    background-color: rgb(99, 0, 198);
    color: rgb(255, 255, 255);
    font-weight: 500;
    transition: .3s;
    box-shadow: 0px 0px 30px rgb(183, 111, 255);
}
/* -------------------------------------------------------------- */

/* CARDS */
.header{
    text-align: center;
    margin: 25px 0px;
    font-size: x-large;
    color: rgb(99, 0, 198);
    text-shadow: 0px 0px 30px rgb(183, 111, 255);
}

.cards{
    width: 80%;
    margin: auto;
    padding: 40px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgb(162, 162, 162);;
}

.content{
    display: flex;
    flex-basis: 100%;
    width: 100%;
}

.content-left{
    flex: 60%;
    margin-bottom: 45px;
}
.content .content-left a img{
    width: 450px;
    height: 350px;
    margin-left: 55px;
    /* padding-left: 15%; */
}

.content-right{
    flex: 40%;
}

.duration h2{
    margin: 10px 0px;
}

.duration i{
    font-size: 25px;
}

.duration .days {
    display: inline;
    margin-left: 5px;
    font-size: 18px;
    align-items: center;
}

.month{
    margin-top: 10px;
}

.duration .time {
    display: inline;
    margin-left: 5px;
    font-size: 18px;
    align-items: center;
}

.tech{
    display: flex;
}

.tech .tech-left{
    margin-right: 30px;
}

.tech p{
    display: inline;
    margin-left: 5px;
    font-size: 18px;
    align-items: center;
}

.tech i{
    font-size: 25px;
}

.paragraph{
    margin: 0px 55px;
}